/* Nav bar Styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    padding: 5px;
}

.title-logo{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.carts-container{
    margin-right: 50px;
}

.carts-container .cart-btn{
    border: 0;
    outline: 0;
    background-color: brown;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFFFFF;
    width: 100px;
}